 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
  .inbox_side ul li{
	font-size:14px;
  }
   .inbox_side ul.list-group{
	height:65vh;
	margin-top:20px;
	overflow:auto;
  }
  .bg_hash {
   background:#3a3b3f;
   padding:10px;   
  } 
  .bg_hash ul {
    padding: 0;
    margin: 0;
	text-align:left
}
 
.bg_hash ul li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 11px;
    color: #fff;
}
.top_bar_deatils {
	background:#eff4f9;
	padding:10px;
}
.top_bar_deatils  p {margin:0;text-align:center;}

.inbox ul {padding:0;margin:0}
  .inbox ul li {
    display: inline-block;
    margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	
}
 .inbox ul li.active .inbox_block{
	border-bottom:3px solid  #5e696e;
 } 
 .inbox ul li.active .inbox_icon{
	background:#5e696e;
	color:#fff;
	border:0;
 }
 
  .inbox_icon{
   background:transparent;
   border:1px solid rgba(0,0,0,0.5);
   width:48px;
   height:48px;
   border-radius:50%;
       margin: 0px auto;
  }
  
   
  .inbox_icon i {
    margin: 14px;
    color: #5e696e;
    font-size: 1.5em;
}
  .inbox_title {text-align:center;}
  .inbox {background:#eff4f9;border-bottom:4px solid #d1e0ee}
  .inbox_title {
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 8px;
}
.inbox a {color:#78797a;text-decoration:none;}

.inbox .nav-tabs>li>a{margin:0;}
.content_details{
	height:70.2vh;
}
.pdr0{padding-right:0}
.pdl0{padding-left:0}

.head_cnt{padding: 1.5rem 2rem;}
.main_text {}
.inbox_side h5{
color: #666666;
text-shadow: 0 0 0.125rem #ffffff;text-align:center;}

.nav-tabs li  .active .inbox_icon {
    background: #09367b !important;
	color:#fff !important;
	}
	.nav-tabs li  .active .inbox_icon i{
    
	color:#fff !important;
	}
	
	.fa-info {margin:14px 0px 0px 19px !important}