	.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}
#overlay    {
    position: fixed;
    display: none;
    left: 0px;
    top: 100px;
    right: 0px;
    bottom: 0px;
    /* top: 0px;
    right: 0px;
    bottom: 0px; */
    background: rgba(255,255,255,.8);
    z-index: 999;
}
 