/* Global Styles */

body {
	margin:0px;
	
	}
	
td {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
	}
	
a {
	color: #FF6600;
	font-weight:bold;
	text-decoration: none;
	}
	
a:hover {
	color: #3399FF;
	}

/* ID Styles */

#navigation td {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	}
	
#navigation a {
	color: #FFFFFF;
	letter-spacing:0.1em;
	text-decoration: none;
	display:block;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 5px;
	padding-left: 2px;
	background-image: url(../images/bgbutton1.jpg);
	background-repeat: no-repeat;
	background-position: 2px center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 16px;
	font-weight: bold;
	}
	
#navigation a:hover {
	color:#000000;
	background-color: #ffffff;
	background-image: url(../images/bgbutton2.jpg);
	background-repeat: no-repeat;
	font-weight: bold;
	}
	
#logo 	{
	font:24px Verdana, Arial, Helvetica, sans-serif;
	color: #CCFF99;
	letter-spacing:.2em;
	line-height:30px;
	}

#tagline 	{	
	font:12px Verdana, Arial, Helvetica, sans-serif;
	color: #FF9933;
	letter-spacing:.4em;
	line-height:18px;
	}

#monthformat {
	border-bottom: 2px solid #E6F3FF;
		}
		
#dateformat {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-weight:bold;
	letter-spacing:.1em;
	}
	
#dateformat a:hover {
	color: #FF6600;
	letter-spacing:.1em;
	}
	
/* Class Styles */
	
.bodyText {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color:#003366;
	line-height:20px;
	margin-top:0px;
	}
	
.pageName{
	font: 18px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:24px;
	letter-spacing:0.2em;
	}
	
.subHeader {
	font:bold 10px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	letter-spacing:.2em;
	background: #0080FF;
	padding: 3px;
	}

.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #425F62;
	line-height:20px;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	}
	
.navText {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
	
a.cgg:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

a.cgg:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}
a.cgg:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}

a.menu:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

a.menu:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}
a.menu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}


.header {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #000099;
	background: url(../images/headerbg.jpg) repeat-y;
	letter-spacing: 0.1em;
}
.highlight {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:24px;
	letter-spacing:0.2em;
}
.tdbg1 {
	
	background: #E1E1FF;
	
}
.tdbg2 {
	
	background: #F4F4F4;
	
}
.inputbox {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	width: 300px;
	border: 1px solid #0082FF;
}
fieldset {
	padding: 5px;
	border: 1px solid #0080FF;
}

.star {
	color: #FF0000;
	font-weight: bold;
}
input {
	height: 17px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #000066;
}


table.linkClass td.head {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:13px; 
	font-weight:bold ;
	color:blue;
	text-align: center;
}
table.linkClass td.head1 {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:13px; 
	font-weight:bold ;
	color:green;
	text-align: center;
}
table.linkClass td.norecords {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:13px; 
	font-weight:bold ;
	color:red;
	text-align: center;
}
table.linkClass td.label {
	font-family: 'ms sans serif', arial, serif,verdana;
	font-size:11px;  
	font-weight:bold ;
	color:black;
	text-align:left;
}
table.linkClass {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:11px;  
	margin: 0 0 10px 0;
	border: 1px solid #9AC6FF;
	border-top-width: 0px;
	border-right-width: 0px;
	background-color: #F8F8F8;
	
}

table.linkClass tr {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:11px;  
	margin: 0 0 10px 0;
	border: 1px solid #9AC6FF;
	padding: 4px;
	background-color: #F8F8F8;
}

table.linkClass td {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:11px;  
	margin: 0 0 10px 0;
	border: 1px solid #9AC6FF;
	color: black;
	border-width: 1px 1px 0 0;
	padding: 4px;
	background-color: #F8F8F8;
	text-align: left;
}
table.linkClass td.center {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:11px;  
	margin: 0 0 10px 0;
	border: 1px solid #9AC6FF;
	color: black;
	border-width: 1px 1px 0 0;
	padding: 4px;
	background-color: #F8F8F8;
	text-align: center;
}
table.linkClass td.right {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:11px;  
	margin: 0 0 10px 0;
	border: 1px solid #9AC6FF;
	color: black;
	border-width: 1px 1px 0 0;
	padding: 4px;
	background-color: #F8F8F8;
	text-align: right;
}

table.linkClass th {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:11px;  
	margin: 0 0 10px 0;
	border: 1px solid #9AC6FF;
	color: black;
	border-width: 1px 1px 0 0;
	border-left-width: 1px;
	padding: 4px;
	background-color: #F8F8F8;
}
table.sortable thead {
    background-color:#eee;
    color:black;
    font-weight: bold;
    cursor: default;
}
a:link{
	color: blue;
	text-decoration: none;
	font-size: 12px;
	}
a:hover{
	
	}
	table.printClass td.head {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:13px; 
	font-weight:bold ;
	color:blue;
	text-align: center;
}
table.printClass td.head1 {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:13px; 
	font-weight:bold ;
	color:green;
	text-align: center;
}
table.printClass td.norecords {
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:13px; 
	font-weight:bold ;
	color:red;
	text-align: center;
}
table.printClass td.label {
	font-family: 'ms sans serif', arial, serif,verdana;
	font-size:11px;  
	font-weight:bold ;
	color:black;
	text-align:left;
}
table.printClass {
	margin: 0 0 10px 0;
	border: 1px solid black;
	border-top-width: 0px;
	border-right-width: 0px;
	
}

table.printClass tr {
	margin: 0 0 10px 0;
	border: 1px solid black;
	padding: 4px;
}

table.printClass td {
	margin: 0 0 10px 0;
	border: 1px solid black;
	color: black;
	border-width: 1px 1px 0 0;
	padding: 4px;
}

table.printClass th {
	margin: 0 0 10px 0;
	border: 1px solid black;
	color: black;
	border-width: 1px 1px 0 0;
	border-left-width: 1px;
	padding: 4px;
}
a.yash {
	color: #666600;
	font-size: 10px;
	text-decoration: none;	
}
a.yash:link {
	color: #666600;
	font-size: 10px;
	text-decoration: none;
}
a.yash:hover {
	color: #666600;
	font-size: 10px;
	text-decoration: none;
}
.tdGreen {
	font-family:'ms sans serif', 'times new roman',monospace;
	color: green;
}
.tdRed {
	font-family:'ms sans serif', 'times new roman',monospace;
	color: red;
}
.tdBlue {
	font-family:'ms sans serif', 'times new roman',monospace;
	color: blue;
}
.header {
	font-weight: bold;
	font-size: 13px;
	text-align: center;
}
input:focus, textarea:focus, select:focus { 
	background : #ffd;
 	color : black; 
}
img {
	border: 0pt;
}
/*Table styles*/
table.grid { }
table.grid tr.label { 
		background-color: #fff;
		/*background-repeat: repeat-x;
		background-image: url('/images/page_bg.jpg');*/
	}
table.grid td { 
	padding:2px 5px;	  
	background:#FFF; 
	border-left:1px solid #4f4734; 
	border-bottom:1px solid #4f4734;  
	font-family: arial, verdana,'ms sans serif';
	font-size:11px;
	font-weight:normal;
	/*text-align:left;*/ 
}
table.grid td.first-cell { border-top:1px solid #4f4734;  }
table.grid td.last-cell { border-right:1px solid #4f4734;  }
table.grid td.label {

	background:#716f5a url(../images/page_bg.jpg);
	background-repeat: repeat-x;
	border-left:1px solid #4f4734; 
	border-bottom:1px solid #4f4734;	
	padding:4px 5px;	
	font-family: 'ms sans serif', arial, serif,verdana; 
	font-size:13px; 
	font-weight:bold 
}
table.grid a.anc, table.grid a.anc:visited, table.grid a.anc:link {
	color: #666600;
	font-size: 11px;
	text-decoration: none;	
}
table.grid a.anc:hover {
	color: #666600;
	font-size: 11px;
	text-decoration: underline;	
}
select,input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	height: 18px;
	border: 1px solid #4f4734;	
}
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	border: 1px solid #4f4734;	
}
table.scrollClass {
    /* border:1px solid #556F93;  */
    font-family: arial, arial, monospace; 
    font-size:12px;
    font-weight:normal;
    color: #191970;
}
table.scrollClass th {
    font-family: arial; 
    font-size:13px;
    font-weight:normal;
    color: #191970;
}
table.scrollClass tbody tr {
    font-family:arial,monospace; 
    font-size:12px;
    font-weight:normal;
}
table.scrollClass td{
	padding:2px 5px;	  
	background:#FFF; 
	border-left:1px solid #4f4734; 
	border-bottom:1px solid #4f4734;  
	font-family: arial, verdana,'ms sans serif';
	font-size:11px;
	font-weight:normal;
	}
table.scrollClass tr.even {  background-color:#E2ECF9; } 

table.scrollClass tr.odd { background-color:#fff; }

table.scrollClass tr:hover {
    
    background-color: #FFE4DC;
    font-family:verdana,monospace; 
    font-size:12px;
    font-weight:normal;
}
