 
 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
 
html {
 
  scroll-behavior: smooth;
   block: 'start';
}
body{
 	background:#ecf0f7;
	/* font-family: 'Montserrat', sans-serif; */
	font-family: 'Roboto', sans-serif;
	font-size:14px; 
	overflow-x:hidden;
}



header {
    padding: 0px;
	 background-image: url("../img/landing.png");  
	 overflow:hidden; 
}

  
footer {
  width: 100%;
  display: inline-block;
  margin: 0em 0;
  height: 70px;
  background-color: #1f1e1e;
  position:fixed;
  bottom:0px;
}
footer .copyright {
  width: 50%;
  float: left;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }
}
footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  footer .copyright p {
    text-align: center;
    padding: 0;
  }
}
footer .social {
  width: 50%;
  float: right;
}
@media (max-width: 600px) {
  footer .social {
    width: 100%;
  }
}
footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
footer .social a:hover {
  background-color: #222;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.linked {
  background-color: #1E83AE;
  font-size: 1.2em;
  width: 20%;
}

.face {
  background-color: #3D5B94;
  font-size: 1.2em;
  width: 20%;
}

.tweet {
  background-color: #3DACDD;
  font-size: 1.2em;
  width: 20%;
}

.support {
  background-color: #6dcd9a;
  font-size: 0.8em;
  width: 40%;
}

ul.list-group {list-style:none;}
ul.list-group li {color:#ffffff;border-bottom:0.5px solid rgba(255,255,255,0.1);padding-bottom:3px;}
ul.list-group li a{color:#ffffff;}
ul.list-group li a:hover{color:#9feaca;text-decoration:none;padding-left:5px; transition: 0.3s;}

h5{color:#9feaca;padding:5px;margin-bottom:0px;padding-left:10px;font-weight:400;}

h6{color:#fa9b2a;padding:5px;font-weight:400;font-weight:bold;margin:15px 0px;}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem 1.25rem;
}

/*Blocks Sub Menu*/
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#ffffff;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:transparent;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#ffffff;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#ffffff;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
ul.block-list-group li a{color:#ffffff;}









