@CHARSET "ISO-8859-1";

.throw{
	/*font-family: Verdana, Arial, Helvetica, sans-serif;*/
	font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	background-color:  #B9C9FE;;
	color:black;
	background-repeat: no-repeat;
	height: 28px;
}


table#reports caption {
   
	font-weight:bold;
	background-color:  #B9C9FE;
	color:black;
	background-repeat: no-repeat;
	height: 28px;
}

table#reports a:hover{
	color: #D6D6D6;
	background: #d74142;
}

table#reports .throw {
  font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight:bold;
	background-color:  #B9C9FE;
	color:black;
	background-repeat: no-repeat;
	height: 28px;
	padding: 0.1em;
}
.scroll{
	display:block;
	border: 0px;
	padding:1px;
	margin-top:5px;
	margin-left:100px;
	margin-right:5px;
	width:800px;
	height:550px;
	overflow:auto;
	overflow-x: hidden;
scrollbar-base-color: #C0C0C0;
  scrollbar-base-color: #C0C0C0;
  scrollbar-3dlight-color: red;
  scrollbar-highlight-color: #C0C0C0;
  scrollbar-track-color: #EBEBEB;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #C0C0C0;
  scrollbar-dark-shadow-color: #C0C0C0;
	 
	}
table#reports tr {
   font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	background-color:  #E8EDFF;;
	color:black;
	background-repeat: no-repeat;
	height: 28px;
  
}
.secondrow{
	   font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	background-color:  #E8EDFF;;
	color:black;
	background-repeat: no-repeat;
	height: 28px;
}
.firstrow{
	font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	background-color: #FFFFFF;
	color:black;
	background-repeat: no-repeat;
	height: 28px;
}
table#reports .secondrow {
   font-family: monospace;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	background-color: #FFFFFF;
	color:black;
	background-repeat: no-repeat;
	height: 28px;
  
}

table#reports td {
    padding: 5px;
  
}

Script suspended on line 2 in anonymous, file jquery-1.6.3.min.js
Script suspended on line 2 in anonymous, file jquery-1.6.3.min.js
body {
    margin: 0;
    text-align: center;
}
h2 {
    color: #555555;
    font: bold 1.4em 'Lucida sans','Trebuchet MS',Tahoma,Arial;
}
.button {
    background-color: #DDDDDD;
    background-image: -moz-linear-gradient(center top , #EEEEEE, #CCCCCC);
    border: 1px solid #777777;
    border-radius: 0.2em;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #333333;
    display: inline-block;
    font: bold 1em/2em Arial,Helvetica;
    margin: 0.5em;
    padding: 0 1.5em;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    white-space: nowrap;
}
.button:hover {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #FAFAFA, #DDDDDD);
}
.button:active {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
    position: relative;
    top: 1px;
}
.button:focus {
    background: none repeat scroll 0 0 #FAFAFA;
    outline: 0 none;
}
.button:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.10em 0 0 0.15em;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 2px 0 0 rgba(255, 255, 255, 0.5);
    float: left;
    font-size: 1.5em;
    margin: 0 1em 0 -1em;
    padding: 0 0.2em;
    pointer-events: none;
    text-align: center;
    width: 1em;
}
button.button, input.button {
    cursor: pointer;
    overflow: visible;
}
button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input::-moz-focus-inner {
    padding: 0.4em;
}
.button[disabled], .button[disabled]:hover, .button.disabled, .button.disabled:hover {
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #AAAAAA;
    box-shadow: none;
    color: #AAAAAA;
    cursor: default;
    position: static;
    text-shadow: none;
}

.tw, .fb, .tw:hover, .fb:hover {
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
.tw, .tw:focus {
    background-color: #88E1E6;
}
.fb, .fb:focus {
    background-color: #3C5A98;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tw:hover {
    background-color: #B1F0F3;
}
.fb:hover {
    background-color: #879BC3;
}
.tw:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    content: "t";
    font-family: verdana;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.fb:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    content: "f";
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.add:before {
    content: "+";
}
.clear { clear: both;}
#leftcolumn { width: 10px; float: left}
#rightcolumn { width: 10px; float: right}
.edit:before {
   content:url(../images/cancelimg.jpg);
}
.ModalCarrot{
   position:absolute;
   left:50%;
   margin-left:-8px;
   top:-16px;
}
.save:before {
    content: '\2713\0020';
}
.delete:before {
    content: "✘";
}

.email:before {
    content: "✉";
}
.like:before {
    content: "❤";
}
.next:before {
    content: "➜";
}

.spark:before {
    content: "✷";
}
.play:before {
    content: "▶";
}
.tw, .fb, .tw:hover, .fb:hover {
    background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}
.tw, .tw:focus {
    background-color: #88E1E6;
}
.fb, .fb:focus {
    background-color: #3C5A98;
    color: #FFFFFF;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tw:hover {
    background-color: #B1F0F3;
}
.fb:hover {
    background-color: #879BC3;
}
.tw:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    content: "t";
    font-family: verdana;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.fb:before {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    content: "f";
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


.accordion{
    position: relative;
}
.accordion .title{ 
    float: left; 
    margin-bottom: 3px;
    width: 100%;
}
.accordion .title:last-child{
    margin-bottom: 0 !important;
}
.accordion .content{
   
    display:none;
    float: left;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 3px;
	width:96.8%;

}


.accordion .title a{
    background: #34495e url('+') no-repeat right center;
    border: 1px solid #e9e9e9;
    color: #fff;
    cursor:pointer;
    display: block;    
    font: 12px 'Droid Sans',sans-serif;    
    padding: 8px 10px;   
}
.accordion .active a{
    background: #d91404 url('-') no-repeat right center !important;
    color: #fff;
}

.accordion .title a:hover{
	color: #D6D6D6;
	background: #d74142;
}




    /* PAGE TITLE
   ------------------------------------------------------------------------- */
    .page-title{
        width: 440px;
    }
    .page-title .title{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .page-title .title h1{
        border-right: none;
    }

    .page-title .title p{
        display: none;
    }

    .breadcrumbs{
        padding-top: 15px;
        padding-bottom: 10px;
    }
