 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  * {
  margin: 0;
  padding: 0;
}

body{
 	background:#0a459d;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	 height: 100vh;
  display:flex;
}

.navbar {
  height: 80px;
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
  clear:both;
}

.navbar-default .navbar-brand {
  
  color: white;
}
.navbar-default .navbar-brand:hover {
  color: #29abe2;
  
}
.navbar-default .navbar-nav > li > a {
  color: white;
  margin: 10px 5px 5px 5px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
  color: #29abe2;
 
}
/* .navbar-default .navbar-nav > li > a:visited {
  color: #fff;
  text-decoration: none;
} */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #29abe2;
}
.navbar-default .navbar-toggle {
  border-color: #29abe2;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002e66;
}
.navbar-default .navbar-toggle .icon-bar {
  color: #29abe2;
  background-color: #29abe2;
}
.navbar-default .navbar-collapse.collapse.in ul {
  background-color: #002e66;
}

/* Solid class attached on scroll past first section */
.navbar.solid {
  background-color: #002e66;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
  color: #29abe2;
  transition: color 1s ease 0s;
}
.navbar.solid .navbar-nav > li > a {
  color: #29abe2;
  transition: color 1s ease 0s;
}
.login-block-setting{
	margin-top:10%;

}
.left-block{height: 50vh;padding:15px;}
.right-block{background-image: url("../img/bg.jpg"); background-repeat: no-repeat;
  background-size: 100% 100%;height:100%;}
.bg-white{
	background:#ffffff;
}
 
 .containerr{
  position:relative;
  width:90vw;
  height: 90vh; 
  margin: auto;
}

.element{
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background: #002965;
  width: 50vw; height: 50vh;
  box-shadow: 10px 10px 0px 0px rgba(255,255,255,0.1);
-webkit-box-shadow: 10px 10px 0px 0px rgba(255,255,255,0.1);
-moz-box-shadow: 10px 10px 0px 0px rgba(255,255,255,0.1);
}

/* * * * * Login Form CSS * * * * */
h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
}
 

p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 5px;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  transition: .3s;
  -webkit-transition: .3s;
}
.login-text {
  position: relative;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.login-form {
  position: relative;
  width: 80%;
  margin:22% auto 0px auto;
  color: #666666;
  
}

.login-form p:last-child {
  margin: 0;
}

.login-form p a {
  color: #4CAF50;
  font-size: 14px;
  text-decoration: none;
}

.login-form p:last-child a:last-child {
  float: right;
}

.login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: .5px;
}

.login-form p:last-child label {
  width: 60%;
  float: left;
}

.login-form label span {
  color: #ff574e;
  padding-left: 2px;
}

.login-form input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.login-form input:focus {
  border-color: #ff574e;
}

.login-form input.btn {
  color: #ffffff;
  background: #4CAF50;
  border-color: #4CAF50;
  outline: none;
  cursor: pointer;
}

.login-form input.btn:hover {
  color: #ffffff;
  background: #56c55a;
}
 

 

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper h1.glitch {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px;
}
.wrapper h1.glitch::before, .wrapper h1.glitch::after {
  padding: 30px;
  color: white;
  content: "CFMS";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0a459d;
  overflow: hidden;
  top: 0;
}
.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(130px, 350px, 150px, 30px);
  }
  5% {
    clip: rect(137px, 350px, 38px, 30px);
  }
  10% {
    clip: rect(9px, 350px, 29px, 30px);
  }
  15% {
    clip: rect(121px, 350px, 129px, 30px);
  }
  20% {
    clip: rect(41px, 350px, 22px, 30px);
  }
  25% {
    clip: rect(59px, 350px, 40px, 30px);
  }
  30% {
    clip: rect(13px, 350px, 21px, 30px);
  }
  35% {
    clip: rect(19px, 350px, 23px, 30px);
  }
  40% {
    clip: rect(105px, 350px, 109px, 30px);
  }
  45% {
    clip: rect(90px, 350px, 105px, 30px);
  }
  50% {
    clip: rect(39px, 350px, 109px, 30px);
  }
  55% {
    clip: rect(65px, 350px, 32px, 30px);
  }
  60% {
    clip: rect(76px, 350px, 78px, 30px);
  }
  65% {
    clip: rect(104px, 350px, 65px, 30px);
  }
  70% {
    clip: rect(20px, 350px, 35px, 30px);
  }
  75% {
    clip: rect(2px, 350px, 149px, 30px);
  }
  80% {
    clip: rect(33px, 350px, 76px, 30px);
  }
  85% {
    clip: rect(84px, 350px, 28px, 30px);
  }
  90% {
    clip: rect(125px, 350px, 48px, 30px);
  }
  95% {
    clip: rect(29px, 350px, 138px, 30px);
  }
  100% {
    clip: rect(72px, 350px, 84px, 30px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(69px, 350px, 21px, 30px);
  }
  5% {
    clip: rect(142px, 350px, 50px, 30px);
  }
  10% {
    clip: rect(96px, 350px, 76px, 30px);
  }
  15% {
    clip: rect(74px, 350px, 68px, 30px);
  }
  20% {
    clip: rect(43px, 350px, 37px, 30px);
  }
  25% {
    clip: rect(102px, 350px, 12px, 30px);
  }
  30% {
    clip: rect(132px, 350px, 102px, 30px);
  }
  35% {
    clip: rect(62px, 350px, 100px, 30px);
  }
  40% {
    clip: rect(64px, 350px, 106px, 30px);
  }
  45% {
    clip: rect(11px, 350px, 137px, 30px);
  }
  50% {
    clip: rect(127px, 350px, 5px, 30px);
  }
  55% {
    clip: rect(126px, 350px, 89px, 30px);
  }
  60% {
    clip: rect(17px, 350px, 67px, 30px);
  }
  65% {
    clip: rect(82px, 350px, 91px, 30px);
  }
  70% {
    clip: rect(61px, 350px, 124px, 30px);
  }
  75% {
    clip: rect(24px, 350px, 101px, 30px);
  }
  80% {
    clip: rect(15px, 350px, 20px, 30px);
  }
  85% {
    clip: rect(115px, 350px, 14px, 30px);
  }
  90% {
    clip: rect(125px, 350px, 11px, 30px);
  }
  95% {
    clip: rect(14px, 350px, 39px, 30px);
  }
  100% {
    clip: rect(122px, 350px, 93px, 30px);
  }
}


 @media only screen and (max-width: 768px) { 
      .element{
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  background: #002965;
  width: 90vw; height: 50vh;
  box-shadow: 10px 10px 0px 0px rgba(57,130,239,0.5);
-webkit-box-shadow: 10px 10px 0px 0px rgba(57,130,239,0.5);
-moz-box-shadow: 10px 10px 0px 0px rgba(57,130,239,0.5);
}   
      }