@charset "utf-8";
/* CSS Document */
/* @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

body {
   font-family: 'Poppins', sans-serif !important;

    font-size: 14px;
    font-weight: 300;
    color: #888;
    /* background:#6497b1; */
    
    text-align: center;
    text-align: justify;
    background-image: url("../../assets/images/white-waves.png") !important;
    background-repeat: repeat;
}
.bg-white{
	background:#ffffff !important;
}
.pd-10{ padding:10px;}
.md-10{margin: 10px -15px 0px -14px;}
a:hover{ text-decoration: none; }
/*.shadow-left-right {
    background: #ffffff;
    box-shadow: -50px 0px 100px -80px #000000, 50px 0px 100px -80px #000000;
}*/

.top_strip_blue{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+0,342ca3+0,7e61cc+100,7db9e8+100,655ec7+100 */
background: rgb(30,87,153); /* Old browsers */
background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(125,185,232,1) 0%, rgba(52,44,163,1) 0%, rgba(126,97,204,1) 100%, rgba(125,185,232,1) 100%, rgba(101,94,199,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(52,44,163,1) 0%,rgba(126,97,204,1) 100%,rgba(125,185,232,1) 100%,rgba(101,94,199,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(125,185,232,1) 0%,rgba(52,44,163,1) 0%,rgba(126,97,204,1) 100%,rgba(125,185,232,1) 100%,rgba(101,94,199,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#655ec7',GradientType=1 ); /* IE6-9 */
	height:459px;
	border-bottom:4px solid green;
}
.insideblock1 img{}
.first-slider{ }
.mdm-title {
    font-size: 220%;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    padding: 0px 5px;
	 text-transform: uppercase;
}
.mdm-title1 {
    font-size: 180%;
	color: #fff;
    font-weight: normal;
    text-align: center;
    letter-spacing: 0px;
}
.mdm-title2 {
    font-size: 150%;
    color: #fff;
    font-weight: Normal;
    text-align: center;
    letter-spacing: 0px;
}

.message-box {background: #1a889d;line-height: 60px;clear: both;padding: 0px;color: #ffffff;font-size: 16px;overflow: hidden; height:60px; margin-bottom: 0px;}

.message-box-title{background: #14a2a3; position: relative;text-align: center;z-index: 98;color: #ffffff;font-weight: bold;}
	.message-box-title::after{
	    left: 100%;
    top: 50%;
    z-index: 99;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #14a2a3;
    border-width: 10px;
    margin-top: -10px;
	
}

	
.block1
{
	background:#174285;
	color:#fff;
}
	
.feature1 {
    text-align: center;
    padding: 8px;
   /* height: 120px;*/
}
.feature1 a{font-size:18px; text-transform: uppercase;}
.inside_spa
{font-family: 'Patua One', cursive;
	padding-left:10px;
	font-size:20px;
	letter-spacing:2;
	text-align:center;
	display:block;
}


.block2
{
	background:#1d5a8c;
	color:#fff;
}
	
.feature2 {
   text-align: center;
    padding: 8px;
   /* height: 120px;*/
}

.block3
{
	background:#1a889d;
	color:#fff;
}
	
.feature3 {
  text-align: center;
    padding: 8px;
  /*  height: 120px;*/
}

.block4
{
	background:#14a2a3;
	color:#fff;
}
	
.feature4 {
   text-align: center;
    padding: 8px;
   /* height: 120px;*/
}






.blink_me
{
	color:#fff;
}
.blink_me:hover
{
	text-decoration:underline;
}
/*for navigation css*/

.nav-fostrap {
  display: block;
  margin-bottom: 15px 0;
  background: #1e6ccc;
  border-radius: 0px;
}

.nav-fostrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
z-index:1;
  
}

.nav-fostrap li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  font-size: 14;
  color: #def1f0;
}

.nav-fostrap li a {
  padding: 15px 12px;
  font-size: 14;
  color: #def1f0;
  display: inline-block;
  outline: 0;
  font-weight: 400;
}

.nav-fostrap li:hover ul.dropdown { display: block; }

.nav-fostrap li ul.dropdown {
  position: absolute;
  display: none;
  width: 200px;
  background: #df5a1f;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding-top: 0;
}

.nav-fostrap li ul.dropdown li {
  display: block;
  list-style-type: none;
}

.nav-fostrap li ul.dropdown li a {
  padding: 15px 20px;
  font-size: 15px;
  color: #fff;
  display: block;
  font-weight: 400;
}

.nav-fostrap li ul.dropdown li:last-child a { border-bottom: none; }

.nav-fostrap li:hover a {
  background: #e27218;
  color: #fff !important;
}

.nav-fostrap li:first-child:hover a { border-radius: 3px 0 0 3px; }

.nav-fostrap li ul.dropdown li:hover a { background: rgba(0,0,0, .1); }

.nav-fostrap li ul.dropdown li:first-child:hover a { border-radius: 0; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #def1f0;
  position: relative;
  top: 15px;
  right: -5px;
  content: '';
}
.title-mobile {
  display: none;
}
@media only screen (min-width:320px) and (max-width:667px) {
	 .tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 125px !important;
}
}
@media only screen (min-width:668px) and (max-width:667px) {
	 .tales {
  width: 100%;
}
.carousel-inner{
  width:100%;
  max-height: 125px !important;
}
}

 @media only screen and (max-width:900px) {
	
.top_strip_blue{ margin-top:50px;}
.text-left,.text-right{ text-align:center;}
.nav-fostrap {
  background: #174285;
  width: 200px;
  height: 100%;
  display: block;
  position: fixed;
  left: -200px;
  top: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.title-mobile {
  position: fixed;
  display: block;
    top: 10px;
    font-size: 20px;
    left: 100px;
    right: 100px;
    text-align: center;
    color: #FFF;
}
.nav-fostrap.visible {
  left: 0px;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
  -o-transition: left 0.25s ease;
  transition: left 0.25s ease;
  z-index:99;
}

.nav-bg-fostrap {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #03A9F4;
  padding: 12px 0 0 10px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
   z-index:100;
}

.navbar-fostrap {
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  cursor: pointer;
  margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px;

}

.navbar-fostrap span {
  height: 2px;
  background: #fff;
  margin: 5px;
  display: block;
  width: 20px;
}

.navbar-fostrap span:nth-child(2) { width: 20px; }

.navbar-fostrap span:nth-child(3) { width: 20px; }

.nav-fostrap ul { padding-top: 50px; }

.nav-fostrap li { display: block; }

.nav-fostrap li a {
  display: block;
  color: #ffffff;
  font-weight: 600;
}

.nav-fostrap li:first-child:hover a { border-radius: 0; }

.nav-fostrap li ul.dropdown { position: relative; }

.nav-fostrap li ul.dropdown li a {
  background: #2980B9 !important;
  border-bottom: none;
  color: #fff !important;
}

.nav-fostrap li:hover a {
  background: #03A9F4;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li:hover a {
  background: rgba(0,0,0,.1); !important;
  color: #fff !important;
}

.nav-fostrap li ul.dropdown li a { padding: 10px 10px 10px 30px; }

.nav-fostrap li:hover .arrow-down { border-top: 5px solid #fff; }

.arrow-down {
  border-top: 5px solid #fff;
  position: absolute;
  top: 20px;
  right: 10px;
}

.cover-bg {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
}
 @media only screen and (max-width:1199px) {

.container { width: 96%; }
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}


/*slider right cm info css here*/

#carousel-example-generic {
    margin: 10px auto;
    width: auto;
	border:2px solid #ddd;
}

#carousel-custom {
    margin: 20px auto;
    width: 400px;
}
#carousel-custom .carousel-indicators {
    margin: 10px 0 0;
    overflow: auto;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
}
#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.5;
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {
    opacity: 0.75;
}
#carousel-custom .carousel-outer {
    position: relative;
}


.carousel-control .glyphicon-chevron-left_1, .carousel-control .icon-prev {
    margin-left: -21px;
}





.styleExample4  thead tr {
width: 100%;
display: inline-table;
table-layout: fixed;

  
}
.thead-inverse
{
	background:#39beb9;
	height:20px;
	color:#fff;}
	
	
/* table{
 height:300px; 
 display: -moz-groupbox;
 margin-top:10px;
}
tbody{
  overflow-y: scroll;
  height: 200px;
  width: 100%;
  position: absolute;
} */

#example1 {
	color:#000;
	float: left;
	
}
 .carousel-control {
              position: absolute;
              top: 150px;
              left: 15px;
              width: 40px;
              height: 40px;
              /*margin-top: -20px;*/
              font-size: 60px;
              font-weight: 100;
              line-height: 30px;
              background-image: none !important;
              filter: none !important;
              text-align: center;
              -webkit-border-radius: 23px;
                 -moz-border-radius: 23px;
                      border-radius: 23px;  
            }

            .glyphicon{
                font-size: 60px;
                color: black;
                text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
				
            }
			.glyphicon_1{
               
                color: #5b64af;
				text-shadow: -2px 0 #5b64af, 0 2px #5b64af, 2px 0 #5b64af, 0 -2px #5b64af;
				
            }
			.glyphicon-chevron-right_1, .glyphicon-chevron-left_1{ }










.scrollbar
{

	height: 180px;
	background: #F5F5F5;
	overflow-y: scroll;
	
	
	

}

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 15px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #5b64af;
}



.panel_top{margin: 10px 0px 10px 10px;}

.panel_adjust
{margin: 5px 10px 10px 0px;}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #16b6aa;
}
	
	.panel-info > .panel-heading {
    color: #fff;
    background-color: #5b64af;
	
	}
	
	
.panel-info{margin-right: 0px; border: none;}
	.panel-danger > .panel-heading
	{
		background:#f47621;
		color:#fff;
		
	}
	
	.panel-heading span:after {
    left: 44%;
    top: 27%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 128, 0, 0);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #5b64af;
    border-width: 25px;
    margin-top: -33px;
}
	
	.list_item1 p
	{
        border-bottom: thin dotted #5b64af;
		list-style-type:none;
		text-align: center;
	}

	
	#data {
    text-align: justify;
    overflow: hidden;
    height: 152px;
}
#scroll {
    position: relative;
    top: 0px;
}

.list-group-item{
   border-right: none;
border-left: none;
border-radius:none;
border-top-left-radius:0px!important;
border-top-right-radius:0pximportant;

}
.list-group-item:first-child
{
 border-top: none;
}






           
.panel_top
{
	/*margin:2px 2px 2px 2px;*/
}


.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  margin-right: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}





.rectangle-box{
    position: relative;
    overflow: hidden;
    background: #011f4b;
	height:50px;
	line-height:1;

}
.rectangle-box:before{
    content: "";
    display: block;
    padding-top: 26%;
}
.rectangle-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
	font-size:16px;
}
.rectangle-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content span {
    display: table-cell;
    text-align: left;
	padding:10px;
    vertical-align: middle;
    color: white
}


.rectangle-box1{
    position: relative;
    overflow: hidden;
    background: #174285;

}
.rectangle-box1:before{
    content: "";
    display: block;
    padding-top: 26%;
}
.rectangle-content1{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.rectangle-content1 div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content1 span {
    display: table-cell;
    text-align: left;
	padding:10px;
    vertical-align: middle;
    color: white
}



.rectangle-box2{
    position: relative;
    overflow: hidden;
    background: #1d5a8c;

}
.rectangle-box2:before{
    content: "";
    display: block;
    padding-top: 26%;
}
.rectangle-content2{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.rectangle-content2 div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content2 span {
    display: table-cell;
     text-align: left;
	padding:10px;
    vertical-align: middle;
    color: white
}


.rectangle-box3{
    position: relative;
    overflow: hidden;
    background: #1a889d;

}
.rectangle-box3:before{
    content: "";
    display: block;
    padding-top: 26%;
}
.rectangle-content3{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.rectangle-content3 div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content3 span {
    display: table-cell;
    text-align: left;
	padding:10px;
    vertical-align: middle;
    color: white
}

.rectangle-box4{
    position: relative;
    overflow: hidden;
    background: #14a2a3;

}
.rectangle-box4:before{
    content: "";
    display: block;
    padding-top: 26%;
}
.rectangle-content4{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.rectangle-content4 div {
   display: table;
   width: 100%;
   height: 100%;
}
.rectangle-content4 span {
    display: table-cell;
    text-align: left;
	padding:10px;
    vertical-align: middle;
    color: white
}



#arrowbox
{
    background-color:#174285;
    position: relative;
    text-align:center;
    color:#fff;
    padding: 25px;
    font-size:1.3em;
}

#arrowbox:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 128, 0, 0);
	border-left-color: #174285;
	border-width: 15px;
	margin-top: -15px;
}
.right_box
{
	padding:15px;
}


.bg-blu {
    background: #2856b2;
    text-align: center;
	color:#fff;
}









@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -150px}
	50%  {margin-top: -300px}
	75%  {margin-top: -450px}
	100% {margin-top: 0}
}

.news {
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  height: 327px;
  margin: 10px 2px 2px 2px;
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  -webkit-user-select: none;
} 

.news span {
  color: #fff;
  position: relative;
  padding: 0px 241px 26px 50px;
  top: -4px;
  text-align:center;
  border-radius: 4px;
  
  font: 16px 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer;
}

.news ul {
  float: left;
  padding: 30px;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -webkit-user-select: none;
}

.news ul li {list-style: none;}

.news ul li a {
  color: #fff;
  text-decoration: none;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none
  line-height: 50px;
 
}

.news ul:hover { animation-play-state: paused }
.news span:hover+ul { animation-play-state: paused }

.red { background: #d23435 }
.red span { background: #c22b2c }




@media only screen and (max-width:767px) {
	.glyphicon-chevron-right, .glyphicon-chevron-left{ font-size:18px; padding:20px; margin-top:-92%!important; }


}
@media only screen and (max-width:640px) {
	.glyphicon-chevron-right, .glyphicon-chevron-left{ top:-24%!important; left:30%; }
	.panel_adjust{margin:10px 0px 0px 0px;}
	#arrowbox:after{display:none;}

	.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{left: -50%;
    margin-top: -10px; border:1px solid:red;	}
	.glyphicon-chevron-right_1, .glyphicon-chevron-left_1{}
	.panel_top {
    margin:0px;
}

	
}

@media only screen and (max-width:500px) {

.message-box-title{ width:100px;}
.panel_adjust{margin:10px 0px 0px 0px;}
#arrowbox:after{display:none;}
	
}

@media only screen and (max-width:420px) {
		.glyphicon-chevron-right, .glyphicon-chevron-left{ top:-127%!important; }
		.panel_adjust{margin:10px 0px 0px 0px;}
		#arrowbox:after{display:none;}
	

}
@media only screen and (max-width:360px) {
		.glyphicon-chevron-right, .glyphicon-chevron-left{ top:-160%!important;   }
		.panel_adjust{margin:10px 0px 0px 0px;}	
		#arrowbox:after{display:none;}
		
		
		
		
	
		

}
/* PARALLAX
-------------------------------------------------*/


.learn {
     font-size:38px;
    line-height:1.4;
    font-weight:300;
	letter-spacing:1px;
	background:rgba(77,173,14,0.5);
	text-align:center;
	width:350px;
    color:#fff;
}
.parallax {
	
    text-align:center;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed!important;
    overflow:hidden;
}

.parallax-pattern-overlay {
    background-image:url(../img/pattern.png);
    background-repeat:repeat;
}
#size-banner{
    height:500px;
    padding-top:20px;
}

#size-banner2{
    height:270px;
    padding-top:50px;
}
#size-bannerabt{
    height:320px;
    padding-top:30px;
	
}
.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: inherit;
    background-color: none;
}
 .jumbotron p {
		    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 9px;
	margin-top:30px;
	line-height:1.6em;
    font-weight: 200;
	
}

	@media all and (min-width: 768px) and (max-width: 1024px)
  {
	  .jumbotron p {
		    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
	line-height:1.6em;
    font-weight: 200;
	
}
.blocks-setting{margin-top:-220px;}
.jumbotron p {
		    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 11px;
	margin-top:30px;
	line-height:1.6em;
    font-weight: 200;
	
}

	  .about-para{
	background:rgba(12,56,98,0.2);
	color:#fff;
	width:100%;
	margin:0 auto;
	font-family:arial;
	padding:10px;
	border-radius:10px;
	font-size:11px;
	font-size:1.5em;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
}
  }
  @media all and (min-width: 1024px)
  {
	  .blocks-setting{margin-top:-120px;}
	  .jumbotron p {
		    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
	line-height:1.6em;
    font-weight: 200;
	
}
.jumbotron p {
		    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
	margin-top:30px;
	line-height:1.6em;
    font-weight: 200;
	
}

	  .about-para{
	background:rgba(12,56,98,0.2);
	color:#fff;
	width:100%;
	margin:0 auto;
	font-family:arial;
	padding:10px;
	border-radius:10px;
	font-size:14px;
	font-size:1.5em;
	padding-top:20px;
	padding-bottom:20px;
	text-align:justify;
}
  }
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #174285;
}

element.style {
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: #e27d5f;
    border: 1px solid #ffffff;
    border-radius: 10px;
}
.carousel-indicators {
    position: absolute;
    bottom: 0px;
    left: 95%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.owl-buttons {
  display: none;
}
.owl-pagination{
position:absolute;
top:5px;
}	
.clearfix{
	clear:both;
}
.marque_bg a{color:#ffffff;}


  
/*----------------------*/

.loginheader {
	padding:5px;
  height:40px;
  border-bottom: 1px solid #444;
  background-color: #14a2a3;

}
.loginheader a{color:#fff;}
.btn{border-radius:0px;}
.list-group, .list-group-item{border-radius:0px;}
.list-group-item:last-child{border-radius:0px;}
.list-group-item{border-bottom:0.5px solid #cecece;background:#f1f5fd}




.modal-login {
		color: #636363;
		width: 100%;
	}
	.modal-login .modal-content {
		padding: 10px;
		border-radius: 5px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;
		position: relative;
		justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
	}
	.modal-login  .form-group {
		position: relative;
	}
	.modal-login i {
		position: absolute;
		left: 13px;
		top: 11px;
		font-size: 18px;
	}
	.modal-login .form-control {
		padding-left: 40px;
	}
	.modal-login .form-control:focus {
		border-color: #00ce81;
	}
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px; 
	}
	.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
	.modal-login .btn {
		background: #00ce81;
		border: none;
		line-height: normal;
	}
	.modal-login .btn:hover, .modal-login .btn:focus {
		background: #00bf78;
	}
	.modal-footer {
		border:0px;padding:5px;
	}
	.modal-footer a{
		color:#ffffff;
		padding:2px 5px;
		text-align:center;
		font-size:15px;
		background:#285aa9;
	}
	.modal-footer div{
	 		text-align:center;
			margin-bottom:3px;
	}
	.modal-body {
    position: relative;
    padding: 5px;
}
	.modal-title{color:#ffffff;}
	.list-group{background:transparent;}
	.list-group-item{background:transparent;color:#2c2d2f;line-height:16px;border-bottom:1px solid rgba(81,81,81,0.1);}
	
	
	
 .shadow{
      position:relative;
    }
    .shadow:after{
      z-index:-1;
      content:"";
      position:absolute;
      -webkit-box-shadow:0 0 40px rgba(0,0,0,0.9);
      -moz-box-shadow: 0 0 40px rgba(0,0,0,0.9);
      box-shadow:0 0 40px rgba(0,0,0,0.9);
      height:20%;left:10%;right:10%;width:90%;bottom:0px;
      -webkit-border-radius:100%;
      -moz-border-radius:100%;
      border-radius:100%;
    }
